<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head :: header('Update Your Post')"></th:block>
</head>
<body>
<nav th:replace="fragments/navbar">
    Navbar failed to load
</nav>

<h1>Testing for Now</h1>

<form th:action="@{/posts/{id}/update(id=${post.id})}" th:method="post" th:object="${post}">
    Title:
    <input th:field="*{title}" />
    <br />
    Description:
    <input th:field="*{body}" />
    <br />
    <input  type="submit" />
    <input type="hidden" id="postID" th:value="${post.id}"/>
    <!--<button id ="rm-post">Delete</button>-->
    <button th:value="${post.id}">Delete</button>
</form>


<footer th:replace="fragments/footer">
    Failed to load Footer
</footer>

<script>
    let rmbtn = document.querySelector("#rm-post");
    let postId = document.querySelector("#postID").value;

    rmbtn.addEventListener('click', function(e){
	    e.preventDefault();
	    let res = confirm("Are you sure?");
	    if(res){
		    fetch(`/posts/${postId}/delete`, {
			    method: "POST"
		    }).then( res => res.json()).then( () => location.href = "/posts");
	    }
    });


</script>
</body>
</html>