<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head :: header('Update Your Post')"></th:block>
</head>
<body>
<nav th:replace="fragments/navbar">
    Navbar failed to load
</nav>

<h1>Testing for Now</h1>

<form th:action="@{/posts/{id}/update(id=${post.id})}" th:method="post" th:object="${post}">
    Title:
    <input th:field="*{title}"/>
    <br/>
    Description:
    <input th:field="*{body}"/>
    <br/>
    <input type="submit"/>
</form>
<form th:action="@{/posts/{id}/delete(id=${post.id})}" th:method="post" th:object="${post}">
    <button type="submit">Delete</button>
</form>



<footer th:replace="fragments/footer">
    Failed to load Footer
</footer>
</body>
</html>