<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/head :: header('Guessed')"></th:block>
</head>
<body>
<nav th:replace="fragments/navbar">
    Navbar failed to load
</nav>

<!--When the user clicks on a link with a number from roll-dice.html.-->
<!--It will pass the number to the {n}. from there is passed to this page.-->
<!--When it comes to this page it will display the users guest, and the number-->
<!--generated.-->
<h2> You guessed: <span th:text="${n}"></span> The Number was
    <span th:text="${randomNumber}"></span>
</h2>


<!--If the user guessed correctly this line will display.-->
<h3 th:if="${n == randomNumber}">You guessed Correctly!</h3>


<!--If the user did not guess correctly. This line will display-->
<h3 th:if="${n != randomNumber}"><a href="/roll-dice">Try again</a> </h3>


<footer th:replace="fragments/footer">
    Failed to load Footer
</footer>
</body>
</html>